.full-height-map {
  height: 100vh;
}

#center rect {
  fill: white;
}
#center use {
  fill: none;
  stroke: black;
  stroke-width: 4px;
}

.track-lines {
  fill: none;
  stroke: red;
  stroke-width: 5px;
  mask: url(#center);
}
.track-cross {
  fill: none;
  stroke: red;
  stroke-width: 7px;
  stroke-dasharray: 1px 1.8px;
}